{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h2>{% blocktrans %}Bienvenido a <b>SIARTRANE</b>{% endblocktrans %}</h2>
            <p>
                {% blocktrans %}
                El SIARTRANE es una plataforma informática dirigida a mantener un 
                sistema de registro y control de los transportinas volqueteros del
                Estado Nueva Esparta. Quienes se dedican a atender
                suitable for most sites that have user accounts.
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}<a href="{{ login_url }}" class="btn btn-default">Inicia sesión</a> o <a href="{{ signup_url }}" class="btn btn-primary">regístrate</a> para acceder al entorno operativo.{% endblocktrans %}</p>
            {% else %}
            {% url "principal" as principal_url %}            
            <p>{% blocktrans %}Inicio exitoso <a href="{{ principal_url }}" class="btn btn-default">Ingresar</a>{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}Qué es SIARTRANE?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>SIARTRANE</b> es una plataforma informática dirigida a mantener un 
                sistema de registro y control de los transportinas volqueteros del
                Estado Nueva Esparta. De esta forma, se logra organizar la información  
                de este grupo de trabajadores sobre la base de una infraestructura
                tecnológica que permita actualizar gran parte de sus operaciones.
                datos.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Starter projects</b> provide project layout,
                    scaffolding, already integrated components and
                    ready-to-go code.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Reusable apps</b> provide common
                    infrastructure, back-end functionality,
                    and user-facing components.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Themes</b> provide default templates and
                    stylesheets for quick prototyping and easy customization.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
