{% extends "site_base.html" %}

{% load staticfiles i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{% static 'css/principal.css' %}" type="text/css" /> 
    <script src='/site_media/static/js/site-5e73bbeeb0.js'></script
{% endblock %}

{% block body_base %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            {% include "_side_menu.html" %}
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
                <h2>Registro</h2>
                Ingrese a este módulo para acceder a las opciones de registro y control de las cooperativas,
                socios que la integran y los vehículos de transporte.
            </div>
            <div class="well">
                <h2>Tablas</h2>
                A través de este módulo se realiza mantenimiento a la clasificación de los componentes principales
                del vehículo. Específicamente a los tipos de batería, cauchos, rines, aceite, filtros y a las marcas
                de los vehículos de transporte.
            </div>            
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}