{% extends "site_base.html" %}
{% load staticfiles i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{% static 'css/principal.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'django_modalview/css/modal.css' %}" type="text/css" /> 
    <script src='/site_media/static/js/site-5e73bbeeb0.js'></script>



<script type="text/javascript">
    $(function() {
        $('#id_orders_table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: 'ordered_items'
        })
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }
</style>

{% endblock %}

{% block body_base %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            {% include "_side_menu.html" %}
        </div>
        <div class="col-sm-9 col-md-9">
          {% include "_vehiculo_menu.html" %}
        <div>
        <div class="entry">
        {% comment %}
        <!-- You can use a form template with a formset containing data. -->
        <!--table style="display:none">
            <tbody>
                {% with formset.empty_form as form %}
                <tr id="id_empty_form">
                    <td>
                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.product }}
                    </td>
                    <td>{{ form.quantity }}</td>
                </tr>
                {% endwith %}
            </tbody>
        </table-->
        {% endcomment %}
         <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <h2>Order details</h2>
            <table id="id_orders_table" border="0" cellpadding="0" cellspacing="5">
                <thead>
                    <tr>
                        <th scope="col">Batería</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset.forms %}
                    <tr id="{{ form.prefix }}-row">
                        <td>
                            {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {{ form.baterias }}
                        </td>
                        <td>{{ form.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                {{ formset.management_form }}
                <input type="submit" value="Submit" />
            </p>
         </form>
        </div>
        <hr>
    </div>
</div>
{% endblock %}

{% block scripts %}

   <script src='/site_media/static/js/jquery-1.3.2.min.js'></script> 
   <script src='/site_media/static/js/jquery.formset.js'></script>       

{% endblock %}