{% extends 'site_base.html' %}

{% block extra_head_base %}
    <script src='/site_media/static/js/site-5e73bbeeb0.js'></script>   
{% endblock %}

{% block body_base %}
<form method="post" action="#">
    {% csrf_token %}

    {{ ingredienteFormset.management_form }}
    {{ instruccionFormset.management_form }}

    <fieldset class="form ">
        {% for field in form %}
            <div class="form-row">
                <div class="field-box">
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                </div>
            </div>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Ingredientes</legend>
        <ul id='formset-ingredientes'>
            {% for form in ingredienteFormset %}
                {{ form.id }}
                <li>
                    {{ form.as_ul }}
                </li>
            {% endfor %}
        </ul>

        <button id='btnIngrediente'>Añadir Ingrediente</button>
    </fieldset>

    <fieldset>
        <legend>Instrucciones</legend>
        <ul id='formset-instrucciones'>
            {% for form in instruccionFormset %}
                {{ form.id }}
                <li>
                    {{ form.as_ul }}
                </li>
            {% endfor %}
        </ul>

        <button id='btnInstruccion'>Añadir Instrucción</button>
    </fieldset>

    <button>Enviar</button>
</form>

<script type='template/ingrediente'>
    {{ ingredienteFormset.empty_form.as_ul }}
</script>

<script type='template/instruccion'>
    {{ instruccionFormset.empty_form.as_ul }}
</script>

<script>
$(function(){

    // Reemplaza todas las coincidencias en vez de solo la primera
    function replaceAll(text, busca, reemplaza){
          while (text.toString().indexOf(busca) != -1)
            text = text.toString().replace(busca, reemplaza);
          return text;
    }

    var $totalIngredientes = $('#id_ingrediente_set-TOTAL_FORMS');

    $('#btnIngrediente').click(function(event) {
        event.preventDefault();
        var total = parseInt($totalIngredientes.val(), 10);
        var clon = $('script[type="template/ingrediente"]').html();
        clon_html = replaceAll(clon, '__prefix__', (total).toString());
        $('#formset-ingredientes').append(clon_html);
        $totalIngredientes.val(total +  1);
    });

    var $totalInstrucciones = $('#id_instruccion_set-TOTAL_FORMS');

    $('#btnInstruccion').click(function(event) {
        event.preventDefault();
        var total = parseInt($totalInstrucciones.val(), 10);
        var clon = $('script[type="template/instruccion"]').html();
        clon_html = replaceAll(clon, '__prefix__', (total).toString());
        $('#formset-instrucciones').append(clon_html);
        $totalInstrucciones.val(total +  1);
    });
})
</script>
{% endblock body_base %}
